.body {
  border: 1rem solid white;
  margin: auto;
  margin-top: 8%;
  width: 40rem;
  height: 45rem;
  text-align: center;
  box-shadow: 0rem 0rem 6rem;
  border-radius: 3%;
}

.Icon {
  margin-top: 3%;
  display: flex;
  gap: 19rem;
  font-size: 2rem;
}
.content3 {
  border-bottom: 1px solid black;
  position: relative;
  margin-bottom: 1rem;
  & > span {
    position: absolute;
    left: calc(20% 1.5px);
    top: -13.5px;
    background-color: white;
    padding: 0 0.5rem;
  }
}
