.field{
    border: 1px solid black;
    height: 60px;
    width: 450px;
    color: black;
    font-size: larger;
    gap: 10px;

}
.button{
    border: 2px solid black;
    height: 40px;
    width: 200px;
    font-size: 30px;
    padding-left: 10px;
    padding-inline-start: 10px;

}