.option{
    display: none;
}
.menu{
    align-items: right;
}
.body{
    border: 1rem solid white;
    display: flex;
    justify-content: space-around;
    /* margin: auto;
    width: 50rem;
    height: 20rem; */
}
.leftBody{
    border: 1rem solid white;
    background-color: rgb(221, 0, 147);
    width: 50rem;
    height: 30rem;
    
}



@media screen and (min-width : 1024px){
    .option{
        display: flex;
        font-size: 2rem;
        border: 1rem solid rgb(8, 32, 240);
        background-color: rgb(4, 4, 75);
        justify-content: space-around;
        gap: 120px;
        align-items: center;
        color: blue;
        padding-left: 40px;
    }
    .menu{
        display: none;
    }
    .body{
        border: 1rem solid white;
        display: flex;
        justify-content: space-around;
        padding-top: 1rem;
    }
    .leftBody{
        border: 1rem solid white;
        background-color: rgb(185, 41, 41);
        width: 50rem;
        height: 27rem;
        
    }
}