.header{
    display: flex;
        background-color: aqua;
        border: 3px solid rgb(82, 13, 172);
        font-size: 10px;
        padding-left: 10px;
        justify-content: space-around;
        padding-top: 10px;
}
.menu{
    height: 40px;
    width: 30px;
}

















@media screen and (min-width : 1024px){
    .header{
        display: flex;
        background-color: aqua;
        border: 3px solid rgb(82, 13, 172);
        font-size: 10px;
        padding-left: 1px;
        padding-top: 10px;
        gap: 10px;
    }
    .menu{
        display: none;
    }
    
    


    
}

