.Details {
  border: 1rem solid white;
  margin: auto;
  margin-top: 8%;
  width: 40rem;
  height: 45rem;
  text-align: center;
  box-shadow: 0rem 0rem 6rem;
  border-radius: 3%;
}
.Icon {
  margin-top: 3%;
  display: flex;
  gap: 19rem;
  font-size: 2rem;
}
.p {
  text-align: end;
  padding-right: 6rem;
}
